<ul>
    <% if action == :show %>
        <li><a href="<%=cats_url%>">All Cats Page</a></li>
    <% else %>
        <li><a href="<%=cat_url(cat)%>"> <%=cat.name %>'s Page</a></li>
    <% end %>
</ul>
<table>
    <th><%=cat.name %></th>
    <tr>
        <td> Age:</td>
        <td> <%=cat.age %> old</td>
    </tr>
    <tr>
        <td> Birth Date:</td>
        <td> <%=cat.birth_date %></td>
    </tr>
    <tr>
        <td> Sex:</td>
        <td> <%=cat.sex %></td>
    </tr>
    <tr>
        <td> Color:</td>
        <td> <%=cat.color %></td>
    </tr>
        <tr>
        <td> Description:</td>
        <td> <%=cat.description %></td>
    </tr>
</table>
